{{#each hits}}
  <li>
    <div>
      <img src='{{webformatURL}}' data-sourse='{{largeImageURL}}' alt='{{tags}}' />
      <div>
        <p>{{likes}}</p>
        <p>{{views}}</p>
        <p>{{comments}}</p>
        <p>{{downloads}}</p>
      </div>
    </div>
  </li>
{{/each}}